<div class="todo_item" id="<%="project_#{project.id}" %>">

  <div class="todo_item__head">
    <div class="head_titl"><%= project.name %></div>
    <div class="head_icons">
      <%= link_to 'Edit',  edit_project_path(project), remote: true %>
      <%= link_to 'Destroy', project, remote: true, method: :delete,  data: { confirm: 'Are you sure?' } %>
    </div>
  </div>

  <div class="todo_item__add">
    <%= form_with model: Task.new, html:{class: 'add_form'},
                  remote: true do |form| %>
      <%= form.hidden_field :project_id, value: project.id %>
      <div class="form_field">
        <%= form.text_field :name, placeholder: "Add new task name", class: "task_name"%>
      </div>
      <div class="form_field">
        <%= form.date_field :deadline, placeholder: "Add deadline", class: "task_name"%>
      </div>
      <div class="form_field">
        <%= form.submit 'Add Task'%>
      </div>
    <% end %>
  </div>

  <div class="todo_item__list" id="list<%=project.id %>"
       data-controller="drag"
       data-drag-url="/tasks/:id/move"
  >
    <% project.tasks.each do |task| %>
      <%= render('tasks/task', task: task) %>
    <% end %>
  </div>

</div>